steps: [
  type: "file"
  url: "http://backbonejs.org/backbone.js"
  dest: "vendor/js/backbone.js"
]
message: """
         Backbone requires 'underscore', which must be loaded prior to Backbone
         itself.

         You may need to order your vendored libs in "config/files.js" like so:

         js: {
           vendor: [
             "vendor/js/underscore.js",
             "vendor/js/backbone.js",
             "vendor/js/**/*.js"
           ]
         }
         """
