steps: [
  type: "archive"
  url: "https://github.com/twbs/bootstrap/releases/download/v3.1.1/bootstrap-3.1.1-dist.zip"
  stripRootDir: true
  files: [
    {
      src: ["css/bootstrap.css", "css/bootstrap-theme.css"]
      dest: "vendor/css"
    }, {
      src: "fonts"
      dest: "vendor/static"
    }, {
      src: "js/bootstrap.js",
      dest: "vendor/js"
    }
  ]
]
